/* FONT SIZES */
/* 90.44px, 63.96px, 45.23px, 31.99px, 22.62px, 16.00px, 11.32px, 8.00px, 5.66px */

/* ************** */
/* GENERAL STYLES */
/* ************** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bebas Neue", sans-serif;
  border-top: 10px solid #ffa94d;
  font-size: 16px;
  background-color: #ff6b6b;
}

.container {
  width: 1200px;
  height: auto;
  margin: auto;
  background-color: #f7f7f7;
}

h1 {
  font-size: 90.44px;
}

/* ************* */
/* UNIVERSAL NAV */
/* ************* */

nav {
  padding: 20px;
  background-color: #ff8787;
  font-size: 22.62px;
  margin-bottom: 40px;

  display: flex;
  justify-content: flex-end;
  gap: 50px;
  align-items: center;
}

nav a:link,
nav a:visited {
  color: #fff;
  text-decoration: none;
}

nav a:active,
nav a:hover {
  color: #ffa94d;
  text-decoration: none;
}

nav a:last-child {
  margin-right: 50px;
}

/* ******************* */
/* INDEX PAGE - HEADER */
/* ******************* */

.hero {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
  background-color: #ffa94d;
}

.hero-content_wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero p {
  font-size: 31.99px;
}

.hero h1 {
  align-items: flex-start;
  text-align: center;
}

.hero img {
  width: 50%;
  border-radius: 30px;
}
