/* FONT SIZES */
/* 90.44px, 63.96px, 45.23px, 31.99px, 22.62px, 16.00px, 11.32px, 8.00px, 5.66px */

/* ************** */
/* GENERAL STYLES */
/* ************** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #adb5bd;
}

nav {
  padding: 40px;
  background-color: #ced4da;
  border-bottom: solid 2px #868e96;

  text-align: center;
}
